html {
  padding:50px;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
  
}

#title {
  text-align: center;
  font-family: 'Crete Round', serif; 
  font-size: 40px;
  color: black;
}

#description {
  font-size: 20px;
  text-align: center;
  color: black;
}

#survey-form {
  font-family: 'Raleway' sans-serif;
  background-color: green;
  border-radius: 5px;
  width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 65px;
  
   
}

#name {
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  border-width: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#email {
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  border-width: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#number {
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  border-width: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#dropdown {
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  border-width: medium;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#textarea {
  font-family: 'Raleway', sans-serif;
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

#submit {
  width: 795px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

